.workspace__box-diary{
    overflow: auto;
}
.workspace__box{
    display: flex;
}
.workspace__box-datebox{
    border: 1px solid lightgrey;
    height: 1rem;

    flex: 1;
    display: flex;

    padding-top: 1%;
    padding-bottom: 1%;
    margin-bottom: 3%;
}
.workspace__box-today{
    font-size: 1.5rem;
    text-align: center;
    justify-content: center;
    margin: 0 1rem;
}
.workspace__box-date{
    flex: 6;
    display: flex;
    font-size: 1.7rem;
    flex-wrap: wrap;
}
.date{
    flex: 0 0 2rem;
    font-size: 1.2rem;
    text-align: center;
}
.workspace__box-diary{
    flex: 14;
}
.diary-item{
    border: 1px solid lightgrey;

    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 3%;

    font-size: 1.2rem;
    text-align: center;

    margin-bottom: 5%;
}
.diary-item .diary-item-date{
    text-align: left;
}
.color-red {
	color: red;
}

.color-blue {
  color: blue;
}
.color-cadetblue{
    color:cadetblue;
}
.diary-button{
    text-align: center;
}
.diary-button button{
    font-family: 'NeoDunggeunmo';
    height: 50px;    
    background-color: white;
    color: white;
    border: none;
    margin-bottom: 5%;
}
.diary-button button:hover{
    background-color: powderblue;
}
#secret-box{
    display: none;
}