  html{
    font-size: 10px;
  }
  body {
    background-color: #a3a3a3;
    background-image: url("../static/images/pattern.png");
    background-size: 100px;
  
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

  }
  .bookcover {
    background-color: #b4d1da;
    border-radius: 9px;
    border: 1px solid #738186;

    width: 960px;
    height: 660px;
  
    margin: 100px auto;
  
    position: relative;
  }
  .bookdot{
      border-radius: 9px;
      border: 2px dashed rgb(238, 238, 238);
      padding: 10px;
  
      position: absolute;
      top: 15px;
      left: 15px;
      bottom: 15px;
      right: 15px; 
  }
  .page{
      background-color:rgb(238, 238, 238);
      border-radius: 9px;
      border: 0;
  
      padding-right: 15px;
      padding-bottom: 15px;
  
      position: absolute;
      top: 10px;
      left: 10px;
      bottom: 10px;
      right: 10px; 
  
      display: flex;
  
  }
  .profile-container{
    display: flex;
    flex: 2;
  
    flex-direction: column;
  
    padding-left: 15px;
    padding-right: 15px;
  }
  .profile__today-number{
    margin-left: auto; 
    margin-right: auto;
  
    display: flex;
    align-items: center;
    padding-top: 10px;
  
    flex: 0.2;
  
    font-family: 'NeoDunggeunmo';
    font-size: 1.5rem;
  }
  .profile__box{
    background-color: #ffffff;
  
    border-radius: 9px;
    border: 1px solid #d6d6d6;
  
    position: relative;
  
    display: flex;
    flex: 2.5;
    flex-flow: column wrap;

    padding-top: 10%;
    padding-left: 10%;
    padding-right: 10%;

  }
  .profile__image{
    flex: 1;
  }
  
  .profile__text{
    flex: 3;
    font-size: 1.2rem;
    font-family: 'NeoDunggeunmo';

    padding-top: 10%;
  }
  .text-margin{
    padding-top: 1.2rem;
  }
  .name{
    font-size: 1.2rem;
    font-family: 'NeoDunggeunmo';
  }
  .name span{
    color: lightskyblue;
  }
  .profile__name{
    flex: 1.3;
    font-size: 1.2rem;
    font-family: 'NeoDunggeunmo';

    position: relative;
  }

  .profile__dropdown-btn{
    border: 1px solid #c9d4da;
    padding: 8px;
  }
  .profile__name:hover > .profile__dropdown-item {
    display: block;
  }
  .profile__dropdown-item{
    display: none;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
  }
  .profile__dropdown-item > a{
    display: block;
    text-decoration: none;  
    color: black;

    border: 1px solid #c9d4da;
    padding: 8px;
  }
  .profile__dropdown-item > a:hover{
    background-color: lightgrey;
  }
  .sprofile__dropdown-btn:hover{
    display: none;
  }
  /*
  .profile__dropdown-item a:link{
    color: black;
    text-decoration: none;
  }
  .profile__dropdown-item a:hover{
    color: #3b87ab;
    text-decoration: none;
  }

  .profile__dropdown{
    border: 1px solid gray;
    margin-top: 5%;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 7px;
    padding-bottom: 7px;
  }
  .profile__dropdown ul{
    display: none;
    position: absolute;
  }
  .profile__dropdown:hover ul{
    display: block;
  }
  .profile__dropdown-item{
    list-style: none;
  }
  */
  .nav{
    flex: 0.9;
    margin-top: 80px;
  }
  .nav__item{
    background-color: #3b87ab;
    padding: 9%;
    margin-top: 20%;
    border-radius: 0px 5px 5px 0px;

    font-family: 'NeoDunggeunmo';
    color: white;
    font-size: 1.5rem;
  }
.nav__item a:visited{
  color: white;
  text-decoration: none;
}
.nav__item a:link{
  color: white;
  text-decoration: none;
}
.nav__item:hover{
  background-color: #b4d1da;
  text-decoration: none;
}