.workspace__box{
    overflow: auto;
}

.workspace__diary-img{
    background-size: cover;
}
.diary-container{
    display: flex;
    margin-top: 20px;
    margin-bottom: 30px;

    background-image: url(https://i.pinimg.com/564x/31/d2/02/31d2020eee5b4bbe0c5cee4f67e1cb6e.jpg);

}
.workspace__diary-img{
    flex: 1;
    margin-right: 20px;
}
.workspace__diary-text{
    flex: 3;
    font-size: 1.3rem;
    padding-top: 10px;
    line-height: 1.8rem;
}
